
#galleria{height:500px;} 
/* Move captions to the bottom */ 
.galleria-info { 
    top:auto; 
    bottom:55px; 
    left:0; 
    width:100%; 
} 
.galleria-info-link { 
    display:none;   
} 
.galleria-info-text { 
    display:block; 
    text-align:center; 
    background:rgba(0,0,0,.5); 
    margin: 0px;
    padding: 0px;
} 
.galleria-counter { 
    left:705px; 
    bottom:420px;   
}
.galleria-stage { 
    position: absolute;
    top: 10px;
    bottom: 90px;
    left: 10px;
    right: 10px;
    overflow:hidden; 
}

.galleria-info-title {
    font: bold 12px/1.1 arial,sans-serif;
    margin: 0;
    color: #fff;
    margin-bottom: 7px;
    visibility: hidden;
}
.galleria-lightbox-title ,.galleria-lightbox-TitleDescriptionSeparator{
    font: bold 12px/1.1 arial,sans-serif;
    margin: 0;
    color: #000;
    margin-bottom: 7px;
    //visibility: hidden;
}
.galleria-info-description{
    font: italic 12px/1.4 georgia,serif;
    margin: 0;
    //color: #bbb;
    font-style: italic; 
    color:#887; 
}
.galleria-lightbox-description{
    font: italic 12px/1.1 georgia,serif;
    margin: 0;
    //color: #bbb;
    font-style: italic; 
    color:#000; 
    margin-bottom: 7px;
}
